<!doctype html>

<html>

<head>
  <title>COVID-19 visualizer</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
   <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="collapibleMenu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('qna')}}">QnA</a></li>
                    <li><a href="{{url_for('about')}}">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
  <!-- Add the chatbot -->
  

  <section class = "main"> 
    <h2> Plot graphs for COVID-19!</h2>
    <h3>Try: Plot active cases in Delhi and Gujarat between 3 April and 15 August</h3>
    <img src="static/check.gif"/>
    <br>
    <textarea id="query-input"></textarea>
    <br>
    <button type="button" class="btn btn-success" onclick="return plot_graph()">Visualize</button> 
    <div id='graph-div'>
    <!-- GRAPH IS DISPLAYED HERE -->
      <canvas id="myChart"></canvas>
    </div>
  </section>
</body>
</html>
