<!doctype html>
<html>
<head>
  <title>COVID-19 visualizer</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   <div class="navbar navbar-default">
	    <div class="container-fluid">
	    	<div class="collapse navbar-collapse" id="collapibleMenu">
	    		<ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('root')}}">Visualizer</a></li>
				    <li><a href="{{url_for('about')}}">About Us</a></li>
				</ul>
	    	</div>
	    </div>
	</div>

 <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
 <div id = "chatbot">
  <df-messenger
    intent="WELCOME"
    chat-title="Dr. Go Corona Go"
    chat-icon="static/bot_icon.svg"
    agent-id="fffb8b47-50d9-43db-baa4-ce13199ec8eb"
    language-code="en"
    expand=true
  ></df-messenger>
 </div>
    <h2>Awareness is very important in this fight against coronavirus.</h2>
    <img src="static/qna_earth_fight.jpg" style="height:300px;">
    <h3>Meet Dr. Go Corona Go! (Chatbot)</h3>
    <img src="static/qna_earth_doctor.jpg" style="height:300px;">
    <h3> Our expert in the field who can answer all your questions regarding coronavirus.</h3>
    <div id = "aware">
        <img src="{{ url_for('static', filename='right.gif') }}" style="width:50%;" alt="Arrow">
    </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 
</body>
</html>
