body {
    font-family: "helvetica", sans-serif;
    text-align: center;
}
.main{
    background: linear-gradient(to right, #fdfbfb, #ebedee);
}

#query-input{
    margin:0 auto;
    width:80%;
    height:20%;
}

df-messenger {
    --df-messenger-bot-message: #00ffd548;
    --df-messenger-button-titlebar-color: #9ffacf;
    --df-messenger-chat-background-color: #befcf9c7;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: white;
}
#aware{
    text-align: left;
    margin-left:200px;
    position: absolute;
    top: 30%;
}

  
